<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        
        <h2>{% block title %}{% endblock %}</h2>
        <div id="button-nav">
            <button><a href="{% url 'medico_list' %}">Médicos</a></button>
            <button><a href="{% url 'especialidade_list' %}">Especialidades</a></button>
        </div>

    </div>
    <div id="conteudo">
        {% block conteudo %}{% endblock %}

    </div>

    
</body>
</html>